@model IEnumerable<StudentDashboard.Models.Course>
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Courses</h2>
@Html.ActionLink("Add Course", "New", "Courses", new {@class = "btn btn-primary"})
<br/><br/>

@if (!Model.Any())
{
    <p>No courses have been added yet.</p>
}
else
{
    <table>
        <thead>
        <tr>
            <th>Courses</th>
            <th>Course Description</th>
        </tr>
        </thead>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.CourseName</td>
                <td>@course.CourseDescription</td>
                <td>@Html.ActionLink("Edit", "Edit", "Courses", new { id = course.Id }, new { @class = "btn btn-primary btn-sm" })</td>
                <td>@Html.ActionLink("Delete", "Delete", "Courses", new { id = course.Id }, new { @class = "btn btn-primary btn-sm",
                   onclick=$"return confirm('Are you sure you want to delete course: {course.CourseName}? All associated students will also be deleted.')"})</td>
            </tr>
            
        }
    </table>
}