@model StudentDashboard.Models.Student
@{
    ViewBag.Title = "Student Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="details">
    <h2>@Model.FirstName @Model.LastName</h2>
    @Html.ActionLink("Edit", "Edit", "Students", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm" })
</div>

<table class="table table-striped table-hover ">
    <tr>
        <th>Birthdate</th>
        <td>@Model.Birthdate.ToShortDateString()</td>
    </tr>
    <tr>
        <th>Course</th>
        <td>@Model.Course.CourseName: @Model.Course.CourseDescription</td>
    </tr>
    <tr>
        <th>Enrolled Date</th>
        <td>@Model.EnrolledDate.ToShortDateString()</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>@Model.Status.Description</td>
    </tr>
    <tr>
        <th>Grade</th>
        <td>@Model.Grade</td>
    </tr>
</table>
@Html.ActionLink(HttpUtility.HtmlDecode("&laquo; All Students"), "Index", "Students", new { @class = "btn btn-primary" })

 