@model StudentDashboard.ViewModels.StudentFormViewModel
@{
    ViewBag.Title = @Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Students"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, 
            new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Birthdate)
        @Html.TextBoxFor(m => m.Birthdate, "{0:MMM d yyyy}", 
            new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Birthdate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CourseId)
        @Html.DropDownListFor(m => m.CourseId,
            new SelectList(Model.Courses, "Id", "CourseName"), 
            "Select Course", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CourseId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EnrolledDate)
        @Html.TextBoxFor(m => m.EnrolledDate, "{0:MMM d yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EnrolledDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.StatusId)
        @Html.DropDownListFor(m => m.StatusId, 
            new SelectList(Model.Statuses, "Id", "Description"), 
            "Select Status", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.StatusId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Grade)
        @Html.TextBoxFor(m => m.Grade, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Grade)
    </div>

    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Save</button>

    if (!Model.IsNewStudent)
    {
        @Html.ActionLink("Delete", "Delete", "Students", new { id = Model.Id }, new
            { @class = "btn btn-primary",
                onclick = $"return confirm('Are you sure you want to delete student: {Model.FirstName}?')"
        })
    }
    @Html.ActionLink("Cancel", "Index", "Students", new { @class = "btn btn-primary" });


}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}